p {
    font-size: medium;
    margin:  0 40;
}
h1 {
    margin: 30 30;
}
h2{
    margin: 30 30;
}
h3 {
    margin: 30 30;
}
h4 {
    font-weight: bold;
    margin: 30 30;

}




h1.title {
    color:navy;
    font-weight: bold;
    margin: 30 30 0;    
}
h4.subtitle {   
    margin: 0 30;
}
.bac {
    color: navy;
}
.que {
    color: navy;
    margin: 30 30;
}
.no {
    margin: 0 30;
}
.bacno {
    margin: 30 30 0;
    color: navy;
}
.und {
    text-decoration: underline;
}
.app {
    margin: 30 30 30;
    font-size: xxx-large;
}
.date{
    font: bold;
    margin: 50 200 0;
}
.che{
    margin: 100 30 0;
}
.box{
    font: bold;
    margin: 30 30 0;
}
.all{
    margin: 30 30 0;
}
.con{
    margin: 0 30;
}